.cls-1 {
  fill: #b0b2b4;
}
.cls-2 {
  fill: #fefefe;
}
.cls-3 {
  fill: #fefdfd;
}
.cls-4 {
  fill: #fbfbfb;
}
.cls-5 {
  fill: #fafafa;
}
.cls-6 {
  fill: #fdfdfd;
}
.cls-7 {
  fill: #f8f8f8;
}
.cls-8 {
  fill: #f9f9f9;
}
.cls-9 {
  fill: #f6f6f6;
}
.cls-10 {
  fill: #eee;
}
.cls-11 {
  fill: #ededed;
}
.cls-12 {
  fill: #010101;
}
.cls-13 {
  fill: #030303;
}
.cls-14 {
  fill: #050505;
}
.cls-15 {
  fill: #030304;
}
.cls-16 {
  fill: #040404;
}
.cls-17 {
  fill: #0e0e0f;
}
.cls-18 {
  fill: #0a0a0b;
}
