.cls-1 {
  fill: #a5a5a5;
}
.cls-2 {
  fill: #777;
}
.cls-3 {
  fill: #909090;
}
.cls-4 {
  fill: #9d9d9d;
}
.cls-5 {
  fill: #4284f3;
}
.cls-6 {
  fill: #e94335;
}
.cls-7 {
  fill: #34a753;
}
.cls-8 {
  fill: #fabb04;
}
.cls-9 {
  fill: #fdfdfd;
}
.cls-10 {
  fill: #fefefe;
}
.cls-11 {
  fill: #fcfcfc;
}
.cls-12 {
  fill: #fafafa;
}
.cls-13 {
  fill: #fbfbfb;
}
.cls-14 {
  fill: #f8f8f8;
}
.cls-15 {
  fill: #ececec;
}
.cls-16 {
  fill: #f5f5f5;
}
.cls-17 {
  fill: #010101;
}
.cls-18 {
  fill: #050505;
}
.cls-19 {
  fill: #0b0b0b;
}
